# 1. 조건문 예제

## 1.1 짝수와 홀수 판별기기

In [7]:
number = 10

if number % 2  == 0:
    print(f"{number}은(는) 짝수입니다.")
else:
    print(f"{number}은(는) 홀수입니다.")

10은(는) 짝수입니다.

In [27]:
number = int(input('정수를 입력하세요'))     # int 는 input 값이 정수로 나오게 하는거같음 한번 물어봐야함

if number % 2  == 0:
    print(f"{number}은(는) 짝수입니다.")
else:                                         # else 는 하나밖에 못씀
    print(f"{number}은(는) 홀수입니다.")

정수를 입력하세요 3

3은(는) 홀수입니다.

## 1.2 성적에 따른 학점 출력

In [15]:
# 점수를 입력받아 학점을 출력
score = int(input("점수를 입력하세요 (0 ~ 100): "))

if score >= 90:
    print("A학점입니다.")
elif score >= 80:
    print("B학점입니다.")
elif score >= 70:
    print("C학점입니다.")
elif score >= 60:
    print("D학점입니다.")
else:
    print("F학점입니다.")   # 마지막 59부터 아래로는 다 f 학점이라고 else를 씀 elif 는 해당되지않으면 다음으로 넘어간다라는것, elif 는 무제한 사용 가능

점수를 입력하세요 (0~100):  100

A학점입니다.

# 1.3 로그인 시스템

In [25]:
# 간단한 로그인 시스템
user_id = "admin"
user_pw = "1234"

input_id = input('사용자 아이디를 입력하세요')
input_pw = input('사용자 비밀번호를 입력하세요')

if user_id == input_id:
    if user_pw == input_pw:
        print('로그인 성공!')
    else:
        print('비밀번호가 틀립니다.')
else:
    print('등록된 사용자 아이디가 틀립니다.')

사용자 아이디를 입력하세요 admin
사용자 비밀번호를 입력하세요 1234

로그인 성공!

In [18]:
# 간단한 로그인 시스템
user_id = "admin"
user_pw = "1234"

input_id = input('사용자 아이디를 입력하세요')
input_pw = input('사용자 비밀번호를 입력하세요')

if user_id == input_id and user_pw == input_pw:
    print('로그인 성공!')
else:
    print('등록된 사용자 아이디 또는 비밀번호가 틀립니다.')

사용자 아이디를 입력하세요 admin
사용자 비밀번호를 입력하세요 1234

로그인 성공!

# 2. 반복문 예제

## 2.1 1부터 10까지 출력 (for문)

In [22]:
for i in range(1, 11, 1): # (초기값, 목표값. 증가값)
    print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
for i in range(1, 11, 2): #(초기값, 목표값. 증가값)
    print(i)

1
3
5
7
9

In [24]:
text_list = ['a', 'b', 'c', 'd']

for txt in text_list:
    print(txt)

a
b
c
d

In [28]:
text_list = ['a', 'b', 'c', 'd']

for txt in text_list:
    print(txt, end=" ")      # 이렇게 입력시 가로로 값이 나옴

a b c d

## 2.2 특정 단 구구단 출력

In [29]:
# 사용자로부터 구구단 단수를 입력받아 출력
dan = int(input("출력할 구구단의 단수를 입력하세요: "))

for i in range(1, 10):                  # dan 이 5(5 넣었으니까) * i(i는 1~9까지니까)
    print(f'{dan} X {i} = { dan * i}')

출력할 구구단의 단수를 입력하세요:  5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

## 2.3 리스트 요소 출력

In [32]:
# 리스트에 저장된 과일 이름 출력
fruits = ["사과", "바나나", "포도", "오렌지"]

for fruit in fruits:
    print(fruit)

사과
바나나
포도
오렌지

## 2.4 for 문 사용해서 1~100까지 합계 구하기

In [37]:
tot = 0

for i in range(1, 101):
    tot = tot + i

print('합계 = ', tot)

합계 =  5050

## 2.5 while 문 사용해서 1~100까지 합계 구하기

In [36]:
tot = 0
cnt = 0

while True:
    if cnt > 100:
        break
        
    cnt = cnt + 1
    tot = tot + cnt

print('합계 = ', tot)

합계 =  5151

In [38]:
tot = 0
cnt = 0

while True:
    if cnt == 100:
        break
        
    cnt = cnt + 1
    tot = tot + cnt

print('합계 = ', tot)

합계 =  5050

tot = 0
cnt = 0

while True:
    if cnt > 99:
        break                         # 이조건이 참일때 이 루프에서 탈출한다
        
    cnt = cnt + 1
    tot = tot + cnt

print('합계 = ', tot)

In [42]:
tot = 0
cnt = 0

while cnt <= 100:                    #이조건이 거짓일때 이 루프에서 탈출한다
    cnt = cnt + 1
    tot = tot + cnt

print('합계 = ', tot)

합계 =  5151

In [43]:
tot = 0
cnt = 0

while cnt <= 100:                    #이조건이 거짓일때 이 루프에서 탈출한다
    cnt = cnt + 1
    tot = tot + cnt

print(f"1부터 {cnt}까지의 합은 {tot}입니다.")

1부터 101까지의 합은 5151입니다.

## 2.6 continue 사용 예제

In [35]:
# 1 부터 10 까지 출력하는데 짝수만 출력하시오.

for i in range(1, 11, 1):
    if i % 2 == 1:              #  % = 나머지 
        continue                # 조건이 맞으면 값으로 출력해라
    print(i)

2
4
6
8
10

## 2.7 별 출력 프로그램

In [47]:
print('*' * 5)

*****

In [46]:
# 사용자로 부터 숫자를 입력받아서 해당 숫자 만큼 별을 출력

n = int(input('출력할 줄 수를 입력하세요:'))

for i in range(1, n + 1):
    print('*' * i)

출력할 줄 수를 입력하세요: 5

*
**
***
****
*****

## 2.8 숫자 피라미드 만들기

In [21]:
n = int(input('피라미드의 높이를 입력하세요:'))

for i in range(1, n + 1 ):
    for j in range(1, i + 1):
        print( j, end=' ')
    print()

피라미드의 높이를 입력하세요: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = int(input('피라미드의 높이를 입력하세요:'))

for i in range(1, n + 1 ):
    for j in range(1, i + 1):
        print( j, end=' ')
    print()

## 2.9 구구단 만들기

In [100]:
for i in range(1, 10):
    print(f'\n   {i}단')
    for j in range(1, 10):
        print(f' {i} X {j} = {i * j}', end="\t")  # f 출력방식 f스트링

   1단
 1 X 1 = 1	 1 X 2 = 2	 1 X 3 = 3	 1 X 4 = 4	 1 X 5 = 5	 1 X 6 = 6	 1 X 7 = 7	 1 X 8 = 8	 1 X 9 = 9
   2단
 2 X 1 = 2	 2 X 2 = 4	 2 X 3 = 6	 2 X 4 = 8	 2 X 5 = 10	 2 X 6 = 12	 2 X 7 = 14	 2 X 8 = 16	 2 X 9 = 18
   3단
 3 X 1 = 3	 3 X 2 = 6	 3 X 3 = 9	 3 X 4 = 12	 3 X 5 = 15	 3 X 6 = 18	 3 X 7 = 21	 3 X 8 = 24	 3 X 9 = 27
   4단
 4 X 1 = 4	 4 X 2 = 8	 4 X 3 = 12	 4 X 4 = 16	 4 X 5 = 20	 4 X 6 = 24	 4 X 7 = 28	 4 X 8 = 32	 4 X 9 = 36
   5단
 5 X 1 = 5	 5 X 2 = 10	 5 X 3 = 15	 5 X 4 = 20	 5 X 5 = 25	 5 X 6 = 30	 5 X 7 = 35	 5 X 8 = 40	 5 X 9 = 45
   6단
 6 X 1 = 6	 6 X 2 = 12	 6 X 3 = 18	 6 X 4 = 24	 6 X 5 = 30	 6 X 6 = 36	 6 X 7 = 42	 6 X 8 = 48	 6 X 9 = 54
   7단
 7 X 1 = 7	 7 X 2 = 14	 7 X 3 = 21	 7 X 4 = 28	 7 X 5 = 35	 7 X 6 = 42	 7 X 7 = 49	 7 X 8 = 56	 7 X 9 = 63
   8단
 8 X 1 = 8	 8 X 2 = 16	 8 X 3 = 24	 8 X 4 = 32	 8 X 5 = 40	 8 X 6 = 48	 8 X 7 = 56	 8 X 8 = 64	 8 X 9 = 72
   9단
 9 X 1 = 9	 9 X 2 = 18	 9 X 3 = 27	 9 X 4 = 36	 9 X 5 = 45	 9 X 6 = 54	 9 X 7 = 63	 9 X 8 = 72	 9 X 9 = 81

In [42]:
for i in range(1, 10):
    print(f'\n   {i} 단')
    for j in range(1, 10):
        print(f' {i} X {j} = {i * j}', end= " ")

   1 단
 1 X 1 = 1  1 X 2 = 2  1 X 3 = 3  1 X 4 = 4  1 X 5 = 5  1 X 6 = 6  1 X 7 = 7  1 X 8 = 8  1 X 9 = 9
   2 단
 2 X 1 = 2  2 X 2 = 4  2 X 3 = 6  2 X 4 = 8  2 X 5 = 10  2 X 6 = 12  2 X 7 = 14  2 X 8 = 16  2 X 9 = 18
   3 단
 3 X 1 = 3  3 X 2 = 6  3 X 3 = 9  3 X 4 = 12  3 X 5 = 15  3 X 6 = 18  3 X 7 = 21  3 X 8 = 24  3 X 9 = 27
   4 단
 4 X 1 = 4  4 X 2 = 8  4 X 3 = 12  4 X 4 = 16  4 X 5 = 20  4 X 6 = 24  4 X 7 = 28  4 X 8 = 32  4 X 9 = 36
   5 단
 5 X 1 = 5  5 X 2 = 10  5 X 3 = 15  5 X 4 = 20  5 X 5 = 25  5 X 6 = 30  5 X 7 = 35  5 X 8 = 40  5 X 9 = 45
   6 단
 6 X 1 = 6  6 X 2 = 12  6 X 3 = 18  6 X 4 = 24  6 X 5 = 30  6 X 6 = 36  6 X 7 = 42  6 X 8 = 48  6 X 9 = 54
   7 단
 7 X 1 = 7  7 X 2 = 14  7 X 3 = 21  7 X 4 = 28  7 X 5 = 35  7 X 6 = 42  7 X 7 = 49  7 X 8 = 56  7 X 9 = 63
   8 단
 8 X 1 = 8  8 X 2 = 16  8 X 3 = 24  8 X 4 = 32  8 X 5 = 40  8 X 6 = 48  8 X 7 = 56  8 X 8 = 64  8 X 9 = 72
   9 단
 9 X 1 = 9  9 X 2 = 18  9 X 3 = 27  9 X 4 = 36  9 X 5 = 45  9 X 6 = 54  9 X 7 = 63  9 X 8 = 72  9 X 9 = 81

In [38]:
for i in range(1, 10):
    print(f'\n   {i} 단')
    for j in range(1, 10):
        print(f' {i} X {j} = {i * j}')

   1 단
 1 X 1 = 1
 1 X 2 = 2
 1 X 3 = 3
 1 X 4 = 4
 1 X 5 = 5
 1 X 6 = 6
 1 X 7 = 7
 1 X 8 = 8
 1 X 9 = 9

   2 단
 2 X 1 = 2
 2 X 2 = 4
 2 X 3 = 6
 2 X 4 = 8
 2 X 5 = 10
 2 X 6 = 12
 2 X 7 = 14
 2 X 8 = 16
 2 X 9 = 18

   3 단
 3 X 1 = 3
 3 X 2 = 6
 3 X 3 = 9
 3 X 4 = 12
 3 X 5 = 15
 3 X 6 = 18
 3 X 7 = 21
 3 X 8 = 24
 3 X 9 = 27

   4 단
 4 X 1 = 4
 4 X 2 = 8
 4 X 3 = 12
 4 X 4 = 16
 4 X 5 = 20
 4 X 6 = 24
 4 X 7 = 28
 4 X 8 = 32
 4 X 9 = 36

   5 단
 5 X 1 = 5
 5 X 2 = 10
 5 X 3 = 15
 5 X 4 = 20
 5 X 5 = 25
 5 X 6 = 30
 5 X 7 = 35
 5 X 8 = 40
 5 X 9 = 45

   6 단
 6 X 1 = 6
 6 X 2 = 12
 6 X 3 = 18
 6 X 4 = 24
 6 X 5 = 30
 6 X 6 = 36
 6 X 7 = 42
 6 X 8 = 48
 6 X 9 = 54

   7 단
 7 X 1 = 7
 7 X 2 = 14
 7 X 3 = 21
 7 X 4 = 28
 7 X 5 = 35
 7 X 6 = 42
 7 X 7 = 49
 7 X 8 = 56
 7 X 9 = 63

   8 단
 8 X 1 = 8
 8 X 2 = 16
 8 X 3 = 24
 8 X 4 = 32
 8 X 5 = 40
 8 X 6 = 48
 8 X 7 = 56
 8 X 8 = 64
 8 X 9 = 72

   9 단
 9 X 1 = 9
 9 X 2 = 18
 9 X 3 = 27
 9 X 4 = 36
 9 X 5 = 45
 9 X 6 = 54
 9 X 7 = 63
 9 X 8 = 72
 9 X 9 = 81

In [80]:
for i in range(1, 10):
    for j in range(1, 4):
        print(f' {j} X {i} = {i * j}', end='\t')
    print("\n")
print("\n")

for i in range(1, 10):
    for j in range(4, 7):
        print(f' {j} X {i} = {i * j}', end='\t')
    print("\n")
print("\n")

for i in range(1, 10):
    for j in range(7, 10):
        print(f' {j} X {i} = {i * j}', end='\t')
    print("\n")
print("\n")

 1 X 1 = 1	 2 X 1 = 2	 3 X 1 = 3

 1 X 2 = 2	 2 X 2 = 4	 3 X 2 = 6

 1 X 3 = 3	 2 X 3 = 6	 3 X 3 = 9

 1 X 4 = 4	 2 X 4 = 8	 3 X 4 = 12

 1 X 5 = 5	 2 X 5 = 10	 3 X 5 = 15

 1 X 6 = 6	 2 X 6 = 12	 3 X 6 = 18

 1 X 7 = 7	 2 X 7 = 14	 3 X 7 = 21

 1 X 8 = 8	 2 X 8 = 16	 3 X 8 = 24

 1 X 9 = 9	 2 X 9 = 18	 3 X 9 = 27



 4 X 1 = 4	 5 X 1 = 5	 6 X 1 = 6

 4 X 2 = 8	 5 X 2 = 10	 6 X 2 = 12

 4 X 3 = 12	 5 X 3 = 15	 6 X 3 = 18

 4 X 4 = 16	 5 X 4 = 20	 6 X 4 = 24

 4 X 5 = 20	 5 X 5 = 25	 6 X 5 = 30

 4 X 6 = 24	 5 X 6 = 30	 6 X 6 = 36

 4 X 7 = 28	 5 X 7 = 35	 6 X 7 = 42

 4 X 8 = 32	 5 X 8 = 40	 6 X 8 = 48

 4 X 9 = 36	 5 X 9 = 45	 6 X 9 = 54



 7 X 1 = 7	 8 X 1 = 8	 9 X 1 = 9

 7 X 2 = 14	 8 X 2 = 16	 9 X 2 = 18

 7 X 3 = 21	 8 X 3 = 24	 9 X 3 = 27

 7 X 4 = 28	 8 X 4 = 32	 9 X 4 = 36

 7 X 5 = 35	 8 X 5 = 40	 9 X 5 = 45

 7 X 6 = 42	 8 X 6 = 48	 9 X 6 = 54

 7 X 7 = 49	 8 X 7 = 56	 9 X 7 = 63

 7 X 8 = 56	 8 X 8 = 64	 9 X 8 = 72

 7 X 9 = 63	 8 X 9 = 72	 9 X 9 = 81

In [107]:
for i in range(1, 10):
    for j in range(1, 4):
        print(f' {j} X {i} = {i * j}')
    print("\n")
print("\n")

 1 X 1 = 1
 2 X 1 = 2
 3 X 1 = 3


 1 X 2 = 2
 2 X 2 = 4
 3 X 2 = 6


 1 X 3 = 3
 2 X 3 = 6
 3 X 3 = 9


 1 X 4 = 4
 2 X 4 = 8
 3 X 4 = 12


 1 X 5 = 5
 2 X 5 = 10
 3 X 5 = 15


 1 X 6 = 6
 2 X 6 = 12
 3 X 6 = 18


 1 X 7 = 7
 2 X 7 = 14
 3 X 7 = 21


 1 X 8 = 8
 2 X 8 = 16
 3 X 8 = 24


 1 X 9 = 9
 2 X 9 = 18
 3 X 9 = 27

In [109]:
for i in range(1, 10):
    for j in range(1, 4):
        print(f' {j} X {i} = {i * j}', end='\t')
    print("\n")
print("\n")

 1 X 1 = 1	 2 X 1 = 2	 3 X 1 = 3

 1 X 2 = 2	 2 X 2 = 4	 3 X 2 = 6

 1 X 3 = 3	 2 X 3 = 6	 3 X 3 = 9

 1 X 4 = 4	 2 X 4 = 8	 3 X 4 = 12

 1 X 5 = 5	 2 X 5 = 10	 3 X 5 = 15

 1 X 6 = 6	 2 X 6 = 12	 3 X 6 = 18

 1 X 7 = 7	 2 X 7 = 14	 3 X 7 = 21

 1 X 8 = 8	 2 X 8 = 16	 3 X 8 = 24

 1 X 9 = 9	 2 X 9 = 18	 3 X 9 = 27

# for 반복 문의 형식 : for 변수명 in range(시작하는 수, 마지막 수 + 1, 간격):

## 1x1 = 1    2x1 = 2    3x1 = 3
## 이렇게 한 줄씩 봤을 때, j가 1~3으로 변화하는 동안 i는 1로 일정하다.
## 따라서 변화하는 폭 : i > j이다
## 따라서 이중 반복문은 i 변수 - j 변수 순서로 작성해야 한다

In [117]:
for i in range(1, 4):
    for j in range(1, 10):
        print(f' {j} X {i} = {i * j}')
    print("\n")
print("\n")

 1 X 1 = 1
 2 X 1 = 2
 3 X 1 = 3
 4 X 1 = 4
 5 X 1 = 5
 6 X 1 = 6
 7 X 1 = 7
 8 X 1 = 8
 9 X 1 = 9


 1 X 2 = 2
 2 X 2 = 4
 3 X 2 = 6
 4 X 2 = 8
 5 X 2 = 10
 6 X 2 = 12
 7 X 2 = 14
 8 X 2 = 16
 9 X 2 = 18


 1 X 3 = 3
 2 X 3 = 6
 3 X 3 = 9
 4 X 3 = 12
 5 X 3 = 15
 6 X 3 = 18
 7 X 3 = 21
 8 X 3 = 24
 9 X 3 = 27

In [156]:
n = int(input('피라미드의 높이를 입력하세요:'))

for i in range(1, n + 1 ):
    for j in range(1, i + 1):
        print( j , end=' ')
    print()

피라미드의 높이를 입력하세요: 7

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [141]:
for i in range(1, 10):       #1~9까지 가면 끝
    for j in range(1, i+1):   # 이중 반복문으로 i 안에서 또 반복되는거임
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [145]:
for i in range(1, 10):
    for j in range(1, i+1):
        print(j)
    print()

1

1
2

1
2
3

1
2
3
4

1
2
3
4
5

1
2
3
4
5
6

1
2
3
4
5
6
7

1
2
3
4
5
6
7
8

1
2
3
4
5
6
7
8
9

##  * 문제 풀이 구구단 3단씩 나누고 1~9단지지

In [3]:
for i in range(1, 10, 3):
    print(f'\n   {i} 단        {i+1} 단       {i+2} 단')
    for j in range(1, 10):
        print(f' {i} X {j} = {i * j}    {i+1} X {j} = {(i+1) * j}    {i+2} X {j} = {(i+2) * j}')

   1 단        2 단       3 단
 1 X 1 = 1    2 X 1 = 2    3 X 1 = 3
 1 X 2 = 2    2 X 2 = 4    3 X 2 = 6
 1 X 3 = 3    2 X 3 = 6    3 X 3 = 9
 1 X 4 = 4    2 X 4 = 8    3 X 4 = 12
 1 X 5 = 5    2 X 5 = 10    3 X 5 = 15
 1 X 6 = 6    2 X 6 = 12    3 X 6 = 18
 1 X 7 = 7    2 X 7 = 14    3 X 7 = 21
 1 X 8 = 8    2 X 8 = 16    3 X 8 = 24
 1 X 9 = 9    2 X 9 = 18    3 X 9 = 27

   4 단        5 단       6 단
 4 X 1 = 4    5 X 1 = 5    6 X 1 = 6
 4 X 2 = 8    5 X 2 = 10    6 X 2 = 12
 4 X 3 = 12    5 X 3 = 15    6 X 3 = 18
 4 X 4 = 16    5 X 4 = 20    6 X 4 = 24
 4 X 5 = 20    5 X 5 = 25    6 X 5 = 30
 4 X 6 = 24    5 X 6 = 30    6 X 6 = 36
 4 X 7 = 28    5 X 7 = 35    6 X 7 = 42
 4 X 8 = 32    5 X 8 = 40    6 X 8 = 48
 4 X 9 = 36    5 X 9 = 45    6 X 9 = 54

   7 단        8 단       9 단
 7 X 1 = 7    8 X 1 = 8    9 X 1 = 9
 7 X 2 = 14    8 X 2 = 16    9 X 2 = 18
 7 X 3 = 21    8 X 3 = 24    9 X 3 = 27
 7 X 4 = 28    8 X 4 = 32    9 X 4 = 36
 7 X 5 = 35    8 X 5 = 40    9 X 5 = 45
 7 X 6 = 42    8 X 6 = 48    9 X 6 = 54
 7 X 7 = 49    8 X 7 = 56    9 X 7 = 63
 7 X 8 = 56    8 X 8 = 64    9 X 8 = 72
 7 X 9 = 63    8 X 9 = 72    9 X 9 = 81

In [4]:
for i in range(1, 10, 3):
    print(f'\n   {i} 단        {i+1} 단       {i+2} 단')

   1 단        2 단       3 단

   4 단        5 단       6 단

   7 단        8 단       9 단

#  원 6개 그리기

In [5]:
import turtle

In [6]:
t = turtle.Turtle()
t.circle(100)            # 반지름이 100인 원을 그려라
t.left(60)               # 각도를 왼쪽으로 60도만큼 회전
t.circle(100)            
t.left(60)
t.circle(100)            
t.left(60)
t.circle(100)            
t.left(60)
t.circle(100)            
t.left(60)
t.circle(100)            
t.left(60)

turtle.exitonclick()

In [9]:
# 위에꺼 간단히 하기

import turtle
t = turtle.Turtle()

for _ in range(6):
  t.circle(100)            
  t.left(60)

turtle.exitonclick()

# n 각형을 그리기
- 사용자로부터 정수 n (3 이상) 을 입력받아서 한변의 길이가 100인 정 n각형을 그리는 프로그램 작성

In [ ]:
import turtle
import time
t = turtle.Turtle()

n = int(input('3이상의 정수를 입력 하시오'))

for _ in range(n):
    time.sleep(1)
    t.forward(100)
    t.left(360 / n)

turtle.exitonclick()

del t
try:
    turtle.bye()
except:
    pass

3이상의 정수를 입력 하시오 4

In [7]:
# 별그리기

import turtle
import time
t = turtle.Turtle()

for _ in range(5):
    time.sleep(1)
    t.forward(200)
    t.left((360 / 5)*2)

t.right(72)
t.circle(100)

turtle.exitonclick()

del t
try:
    turtle.bye()
except:
    pass