In [1]:
# 튜플은 프로그램이 시작되면 내용을 변경 할 수 없음
# 중요 개인정보를 데이터 처리할 때 사용(ex)주민번호)

leg_day = ('스쿼트', '런지', '레그컬')
leg_day

('스쿼트', '런지', '레그컬')

In [2]:
leg_day[0]

'스쿼트'

In [3]:
leg_day[0] = '벤치프레스'

TypeError: 'tuple' object does not support item assignment

In [4]:
leg_day.append('숄더프레스')

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
del leg_day[0]                # 위에를 포함해서 튜플은 수정이 불가능함

TypeError: 'tuple' object doesn't support item deletion

In [6]:
# 딕셔너리 { key : value }

stock_prices = { 
    '삼성전자' : 60000,
    '하이넥스' : 140000,
    '네이버' : 350000
}

stock_prices

{'삼성전자': 60000, '하이넥스': 140000, '네이버': 350000}

In [7]:
stock_prices['삼성전자']

60000

In [8]:
stock_prices['카카오']          # 없으면 안나옴

KeyError: '카카오'

In [9]:
for key_value in stock_prices:
    print(key_value)

삼성전자
하이넥스
네이버

In [12]:
for key in stock_prices.keys():
    print(key)

삼성전자
하이넥스
네이버

In [13]:
for value in stock_prices.values():
    print(value)

60000
140000
350000

In [14]:
for key, value in stock_prices.items():           # key values 둘 다 보려면 items 사용
    print(key, value)

삼성전자 60000
하이넥스 140000
네이버 350000

In [15]:
# key  별 주가를 더해서 평균 주가 프린트  - sum(), len()

stock_prices = { 
    '삼성전자' : [60000, 61000, 62000],
    '하이넥스' : [140000, 141000, 150000],
    '네이버' : [350000, 355000, 360000]
}

for key, value in stock_prices.items():
    print(key, value)

삼성전자 [60000, 61000, 62000]
하이넥스 [140000, 141000, 150000]
네이버 [350000, 355000, 360000]

In [23]:
stock_prices = { 
    '삼성전자' : [60000, 61000, 62000],
    '하이넥스' : [140000, 141000, 150000, 200000],
    '네이버' : [350000, 355000, 360000]
}

for key, value in stock_prices.items():
    avg = sum(value) / len(value)
    print(f' {key} 평균 주가 {int(avg)}')

 삼성전자 평균 주가 61000
 하이넥스 평균 주가 157750
 네이버 평균 주가 355000

In [ ]:
# 각 회사별로 주가의 최고가 와 최저가를 구하시오.

stock_prices = { 
    '삼성전자' : {'최고가' : 80000, '최저가' : 61000, '현재가' : 62000},
    'SK하이넥스' : {'최고가' : 160000, '최저가' : 141000, '현재가' : 150000},
    '네이버' : {'최고가' : 400000, '최저가' : 305000, '현재가' : 360000}
}

In [25]:
stock_prices = { 
    '삼성전자' : {'최고가' : 80000, '최저가' : 61000, '현재가' : 62000},
    'SK하이넥스' : {'최고가' : 160000, '최저가' : 141000, '현재가' : 150000},
    '네이버' : {'최고가' : 400000, '최저가' : 305000, '현재가' : 360000}
}
for key, value in stock_prices.items():
    print(key, value)

삼성전자 {'최고가': 80000, '최저가': 61000, '현재가': 62000}
SK하이넥스 {'최고가': 160000, '최저가': 141000, '현재가': 150000}
네이버 {'최고가': 400000, '최저가': 305000, '현재가': 360000}

In [30]:
stock_prices = { 
    '삼성전자' : {'최고가' : 80000, '최저가' : 61000, '현재가' : 62000},
    'SK하이넥스' : {'최고가' : 160000, '최저가' : 141000, '현재가' : 150000},
    '네이버' : {'최고가' : 400000, '최저가' : 305000, '현재가' : 360000}
}
for key, value in stock_prices.items():
    print(f'{key} - 최고가{value["최고가"]}, 최저가{value["최저가"]}')

삼성전자 - 최고가80000, 최저가61000
SK하이넥스 - 최고가160000, 최저가141000
네이버 - 최고가400000, 최저가305000

In [33]:
for key, value in stock_prices.items():
    max_value = value["최고가"]
    min_value = value["최저가"]
    print(f'{key} - 최고가 : {max_value}, 최저가 : {min_value}')

삼성전자 - 최고가 : 80000, 최저가 : 61000
SK하이넥스 - 최고가 : 160000, 최저가 : 141000
네이버 - 최고가 : 400000, 최저가 : 305000