# 최댓값 찾기 (if문 사용)

In [1]:
ca = [10, 17, 13, 11]

max = ca[0]
if max < ca[1]:
    max = ca[1]

if max < ca[2]:
    max = ca[2]

if max < ca[3]:
    max = ca[3]

print(max)

17

# 최댓값 찾기 (for문 사용)

In [2]:
ca = [10, 17, 13, 11]

max = ca[0]
for sb in range(1, 4):
    if max < ca[sb]:
        max = ca[sb]

print(max)

17

# 원소의 갯수를 모를경우

In [4]:
ca = [10, 17, 13, 11]

max = ca[0]
for sb in ca:
    if max < sb:
        max = sb

print(max)

17

In [5]:
ca = [10, 17, 13, 11]

max = ca[0]
for sb in range(1, len(ca)):
    if max < ca[sb]:
        max = ca[sb]

print(max)

17

In [6]:
del max

In [7]:
ca = [10, 17, 13, 11]
max(ca)

17

# 원소의 정렬(sort)

In [18]:
ca = [21, 10, 11, 15, 13]

mina = ca[0]
minix = 0

for sb in range(1, len(ca)):
    if mina > ca[sb]:
        mina = ca[sb]
        minix = sb

temp = ca[0]
ca[0] = ca[minix]
ca[minix] = temp

print(ca)

[10, 21, 11, 15, 13]

In [21]:
ca = [21, 10, 11, 15, 13]
for sa in range(0, len(ca) -1):
   mina = ca[sa]
   minix = 1

   for sb in range(sa +1, len(ca)):
    if mina > ca[sb]:
        mina = ca[sb]
        minix = sb

   temp = ca[sa]
   ca[sa] = ca[minix]
   ca[minix] = temp

   print(ca)

[10, 21, 11, 15, 13]
[10, 11, 21, 15, 13]
[10, 11, 13, 15, 21]
[10, 15, 13, 11, 21]

In [26]:
def user_sort(ca):
 for sa in range(0, len(ca) -1):
    mina = ca[sa]
    minix = sa

    for sb in range(sa +1, len(ca)):
     if mina > ca[sb]:
         mina = ca[sb]
         minix = sb

    temp = ca[sa]
    ca[sa] = ca[minix]
    ca[minix] = temp

ca = [21, 10, 11, 15, 13]
user_sort(ca)
print(ca)

[10, 11, 13, 15, 21]

In [23]:
ca = [21, 10, 11, 15, 13]            
ca.sort()                          #  오름차순
print(ca)

[10, 11, 13, 15, 21]

In [24]:
ca = [21, 10, 11, 15, 13]            
ca.sort(reverse=True)              #  내림차순
print(ca)

[21, 15, 13, 11, 10]

# 딕셔너리를 매개변수로 사용하는 방법
딕셔너리는 (key,value)가 있음

In [27]:
a = {'mon' : '월', 'tue' : '화', 'wed' : '수'}
print(a)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [28]:
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [29]:
x['mon'] = '일'
print(x)
print(a)

{'mon': '일', 'tue': '화', 'wed': '수'}
{'mon': '일', 'tue': '화', 'wed': '수'}

In [30]:
a = {'mon' : '월', 'tue' : '화', 'wed' : '수'}
print(a)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [31]:
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [32]:
def fch(x):
    x['mon'] = '일'

In [34]:
a = {'mon' : '월', 'tue' : '화', 'wed' : '수'}
print(a)
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}
{'mon': '월', 'tue': '화', 'wed': '수'}

In [35]:
print("함수 실행 전 :", a)
fch(a)
print("함수 실행 후 :", a)

함수 실행 전 : {'mon': '월', 'tue': '화', 'wed': '수'}
함수 실행 후 : {'mon': '일', 'tue': '화', 'wed': '수'}

In [36]:
print("함수 실행 후 :", x)

함수 실행 후 : {'mon': '일', 'tue': '화', 'wed': '수'}

# *args 에서 "*"의 의미 : 매개변수가 유동적일때 "*" 사용함.

In [38]:
def my_func(*args):
    for arg in args:
        print(arg)
        
my_func(1,2,3,4,5)

1
2
3
4
5

In [39]:
my_func(1,2,3)

1
2
3

##   "**kwargs"에서 "**"의 의미 : 딕셔너리 데이터를 파라미터로 사용하는데 (유동적)

In [40]:
def my_func(**kwargs):
    for key, value in kwargs.items():
        print('key : ', key, 'value', value)

In [41]:
my_func(name='join', age=30, gender='male', loc='서울시')

key :  name value join
key :  age value 30
key :  gender value male
key :  loc value 서울시

In [43]:
def my_func(*args, **kwargs):              # * , ** 는 순서가 바뀌면 안됨 *이 무조건 먼저
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print('key : ', key, 'value', value)

In [45]:
my_func(1,2,3,4,5, name='join', age=30, gender='male')

1
2
3
4
5
key :  name value join
key :  age value 30
key :  gender value male

In [53]:
def my_func(*a, **b):             
    for arg in a:
        print(arg)
    for key, value in b.items():
        print('key : ', key, 'value', value)

In [54]:
my_func(1,2,3,4,5, name='join', age=30, gender='male')

1
2
3
4
5
key :  name value join
key :  age value 30
key :  gender value male